
      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--Import FontAwesome-->
 <script src="https://use.fontawesome.com/f9a4b2dd3a.js"></script>
 <!-- import Raleway font -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap" rel="stylesheet">
   <!-- adding reset css -->

   <link rel="stylesheet" href="./public/assets/css/reset.css">

   <!-- Compiled and minified materialize -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- my personal css -->
   <link rel="stylesheet" href="./public/assets/css/style.css">

   


    <title>Added new item</title>
</head>
<body>
    <nav class="navbar navbar-dark danger-color-dark">
        <a class="navbar-brand" href="#">Name or Logo</a>
</nav>

    <div class="container ">
       
        <div class="row">
            <div class="col">
            <p class="mainRepWord">Added new item under ID</p> 
             </div>
        </div>
        
        
        <div class="row">
            <div class="col-6"> 
        <table class="table-borderless">
           
        
            <% if (item) { %>
                <h2><%= item._id %></h2>
                
                
              </tr>

              

           
          </div>
          
          <div class="col"> 
              </div>
              <div class="col"> 
            </div>
        </div>

        

            <div class="row">
                 <div class="col-12"> 
          

                    <div id="qrcode"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12"> 
                   <p class="linkText">Direct link to the verification page:
                    Follow to the product page via link  <a href="http://localhost:3000/<%= item._id%>" > http://localhost:3000/<%= item._id%> </a>

                       <% }; %>
               </div>
           </div>
        
           <div class="row">
            <div class="col-12"> 
               <p class="copyright">(c) 2018 text about company and a few links</p>
           </div>
       </div>







 </div>




   <!-- materialize css -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <!-- Compiled and minified materialize js -->
    <script type="text/javascript" src="./public/assets/js/script.js"></script>
</body>
</html>